@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* background: #ffc600; */
  background-image: url("../assets/svg/forest.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 2.4em;
  position: relative;
}

h1 {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
}

#grid {
  /* padding-top: 120px; */
}

.gridElements {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 1 0 20%;
  display: flex;
  justify-content: center;
  height: 120px;
  box-sizing: border-box;
  background-color: #fff;
  border: 4px solid black;
  margin: 5px;
  padding: 5px;
}

.tile img {
  width: 90%;
  box-sizing: border-box;
}

.wrapper {
  /* width: 500px;
  margin: 0 auto; */
}

.owl img {
  height: 80px;
  margin: 0 0 0 20px;
}

.mouse img {
  height: 80px;
  margin: 0 0 0 20px;
}

.uk-container {
  width: 500px;
}

.inventory img {
  /* height: 40px; */
  border: 4px solid black;
  /* padding: 10px; */
}

.uk-background-cover {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#lose {
  display: none;
}

#lose h3 {
  margin: 0 auto;
  color: red;
  background: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  width: 162px;
  text-align: center;
}

#lose p {
  color: red;
  font-size: 2rem;
  background: white;
  padding: 0 0.7em;
}

#win {
  display: none;
}

#win h3 {
  margin: 0 auto;
  color: green;
  background: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  width: 162px;
  text-align: center;
}

#win p {
  color: green;
  font-size: 2rem;
  background: white;
}