html {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; */
}

#container {
    /* display: flex;
    width: 50%;
    height: 50%;
    background-color: grey; */
}

#watercontainer, #waterreservoir {
    /* width: 100%;
    height: 100%;
    padding: 10px; */
    padding: 100px 20px;
}

#watercontainer {
    background-color: rgb(173, 255, 248);
}

#waterreservoir {
    background-color: rgb(162, 247, 137);
}

.bucket {
    position: relative;
    width: 100px;
    height: 200px;
    background-color: #fff;
    border-right: solid 2px black;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
}

.water {
    background-color: blue;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#watercups {
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cup {
    display: inline-block;
    width: 90px;
}

.cup:hover {
    text-decoration: none;
    background-color: rgb(233, 125, 125);
}

.cup img {
    width: 50px;
}