html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-image: url('../images/starfield.png');
}

.container{
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 10px solid orange;
  border-right: 10px solid orange;
}

.rocket {
  margin:auto;
  /* position: absolute; */
  /* left:0;
  bottom:0;
  right:0; */ 
  width: 50px; /*essential for determining offset*/
  height: 75px; /*essential for determining offset*/

  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
